html
	head
		title POGI's Car Company

		link(rel="stylesheet" href="/font/css/font-awesome.min.css")
		link(rel="stylesheet" href="/semantic/semantic-custom.css")
		link(rel="stylesheet" href="/semantic/dist/semantic.min.css")
		//link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
		
		

			
	body
		script(src="/semantic/dist/semantic.min.js")
		//script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js')
		block content

	 

