html
	head
		title POGI's Car Company

		link(rel="stylesheet" href="/bulma/bulma.css")
		link(rel="stylesheet" href="/bulma/custom.css")
		link(rel="stylesheet" href="/font/css/font-awesome.min.css")
		

		
		
			
	body
		.section
			.container
				
				
				block content
	

