html
    head
        title GYMONATOR
        link(rel="stylesheet" href="/font/css/font-awesome.min.css")
        link(rel="stylesheet" href="/semantic/semantic-custom.css")
        link(rel="stylesheet" href="/semantic/dist/semantic.min.css")
        link(href='https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="/semantic/dist/semantic.min.js")
        script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')
        script(src='https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js')
        meta(charset='utf-8')
           
        style(type='text/css').
           
           
            h1.ui.header{
            padding-top: 1em; 
            font-size: 4em;
            font-family: 'century gothic';
            font-weight: 200%;
            color:white;
            }
            h2{
            font-size:1.4em;
            padding:0;
            margin-top:0;   
            font-weight: 100%;
            color:#ffcccc;
            }
            .bg{
                background-color: #1B1C1E;
                width: auto;
                height: auto;
            }
            h3.ui.horizontal.divider.header{
                font-weight:200%;
            }
            #programlist{
                padding-top:50;
            }
            #programlist > .column> h2{
                font-size:1.4em;
                margin-top:0;   
                font-weight: 100%;
                color:#000;
            }
            .label{
                font-family:'century gothic';
                font-weight:200%;
            }    
            .formm{
                padding-top:50px;
            }
    body        
        #all.container             
            #navbar.ui.large.top.fixed.inverted.menu   
                    a.header.item(href='/home') A - TEAM FITNESS CENTER
                        i.heartbeat.icon      
                    .right.menu
                        a.item(href='/trainer') Trainers
                        .item.active.red Program
                        a.item(href='/home/#about') About
                        a.item(href='/login') Logout
                        
            .bg
                .column
                    .ui.column.grid
                        .middle.aligned.center.aligned.column                      
                            h1.ui.header Hi Admin!
                            h2 Add a program
            .row
                .ui.two.column.centered.grid
                    form.ui.large.form.formm(method="POST" action='/program/add')
                        .equal.width.fields
                            .field
                                label Program Name
                                br
                                input(type='text' placeholder='Name' name='pname')
                            .field
                                label Price
                                br
                                input(type='text' placeholder="0.00" name='pprice') 
                        .equal.width.fields
                            .field
                                #date.ui.calendar
                                    .ui.input.left.icon
                                        i.calendar.icon
                                        input(type='text' placeholder='Date' name='pdate')
                            .field
                                #time.calendar
                                    .ui.input.left.icon
                                        i.time.icon
                                        input(type='text' placeholder='Time' name='ptime')
                        .field 
                            a.ui.fluid.large.red.submit.button(href=`/program`) Cancel
                            button.ui.fluid.large.red.submit.button(type="submit") Add Program 
    script.
        $('#all').transition({  
        animation  : 'fade in',
        duration   : '2s'});    
        $('#time').calendar({type: 'time'});    
        $('#date').calendar({type: 'date'});                     
    
        si maricar Price
        \`1000`
